@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
}

.nav-menu .nav-ul li {
  padding: 30px 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: gray;
}

.nav-menu .nav-ul {
  width: 100%;
}

.nav-menu .nav-ul li {
  transition: all 0.4s ease;
}

.nav-menu .nav-ul li:hover {
  color: crimson;
}

.nav-menu .nav-ul li.active {
  color: crimson;
  font-weight: bolder;
}

.logo {
  max-width: 170px;
}

.icons {
  display: none;
  padding: 25px;
}

/* swiper */
.swiper-slider-home {
  height: 100vh !important;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100vh !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh !important;
  filter: brightness(0.5);
}

.swiper-button-next,
.swiper-button-prev {
  color: crimson !important;
}
/* swiper */

.banner-discover {
  background: url("./Images/discover-image.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

footer div a {
  display: block;
  padding: 10px 0;
  transition: color 0.4s ease;
}

footer div a:hover {
  color: crimson;
}

footer .social a:nth-child(1) {
  margin-left: 0;
}

footer .social a {
  display: inline-block;
  margin-left: 30px;
  font-size: 25px;
}

@media only screen and (max-width: 1000px) {
  .nav-menu .nav-ul {
    display: none;
  }

  .nav-ul.open {
    display: block;
  }

  .nav-menu .nav-ul li {
    font-size: 16px;
    padding: 15px;
  }

  .icons {
    display: flex;
  }

  .swiper-slider-home {
    height: auto !important;
  }

  .swiper {
    height: auto !important;
  }

  .swiper-slide img {
    height: auto !important;
  }
}
